<div class="lt">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            hi
          </div>
          <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur enim id natus labore. Libero
            necessitatibus nostrum accusamus sint eos quasi incidunt ex, nesciunt odit neque eaque ipsam nihil unde
            aliquam!
          </div>
          <div class="card-footer">
            no
          </div>
        </div>
      </div>
    </div>
  </div>
</div>